#welcomeInformation
{
    background: #FFFFFE;
    margin: auto;
    width: 50%;
    min-height: auto;
    border-style:groove;
    border-radius:10px;
    font-family: 'Oxygen';
    font-weight: 400;
    padding: 1%;
}
#h1
{
 font-weight: bold;
}
#blank{
    min-height:50%;
    margin: auto;
}