nav
{
<<<<<<< HEAD
    background-color: #FFFFFE;
    width: 100%;
    height: 15%;
    overflow: hidden;
    
    
}
nav ul
{
    background-color: #FFFFFE;
=======
    background-color: #C4C4C4;
    width: 100%;
    height: 107px;
    overflow: hidden;
    
}
nav ul
{
    background-color: #C4C4C4;
>>>>>>> 73b98812dbe7bf6f2f23e8dae30411e336c6d593
    overflow: hidden;
    margin-right: 100px;
    
}
nav li
{
    float: right;
    list-style-type: none;

}
nav li p
{
    display: block;
    padding:10px;

}
#logo
{
    float: left;
<<<<<<< HEAD
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    background-size: 30%;
    height: 100%;
    width: 23%;
    margin: 5px;
=======
>>>>>>> 73b98812dbe7bf6f2f23e8dae30411e336c6d593
}