nav
{
    background-color: #FFFFFE;
    width: 100%;
    height: 16%;
    overflow: hidden;
    
    
}
nav ul
{
    background-color: #FFFFFE;
    overflow: hidden;
    margin-right: 100px;
    
}
nav li
{
    float: right;
    list-style-type: none;
    margin-right: 4%;

}
nav li p
{
    display: block;
    padding:10px;
    font-size: 130%;
    font-weight:500;
    
}
#logo
{
    float: left;
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    background-size: 30%;
    height: 100%;
    width: 23%;
    margin: 5px;
}