@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
#spaImg
{
    width: 100%;
    height: 22vw;
    background-image: url('./spaImg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    text-align:right;
}
#header
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 700;
    font-size:5vw;
    color: white;
    float: right;
    padding-right: 18vw;
    padding-top:5vw;
    width: 10%;
    height: 10%;
}
#PriceList
{
    font-family: 'Oxygen';
    margin-top: 5vw;
    float:right;
    width:25vw;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    border-color: gray;
    margin-right: 20vw;
    height:45vh;
}
#procedure
{
    width:60%;
    margin-left: 5%;
}
#prices
{
    float:right;
    width:10%;
    text-align: right;
    margin-right: 5%;
}
#prices p
{
    margin-top: 1%;
    margin-bottom: 34%;
}
#PriceList h1
{
    margin-left:5%
}
#SpaStart
{
    font-family: 'Oxygen';
    margin-top: 5vw;
    width:35vw;
    height:45vh;
    margin-left: 15vw;
    font-size: 9vh;
}
#aboutSpa
{
    border: 1px solid;
    border-radius: 5px;
    border-color: gray;
    font-size:medium;
    background-color: white;
    height:74%;
    text-align: center;
    font-size: x-large;
}
#aboutSpa p
{
    color: #C4B976;
    margin-bottom: 1%;
    margin-top: 1%;
}
#objectos
{
    font-family: 'Oxygen';
    width: 61vw;
    height: 410px;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    border-color: gray;
    margin-top: 5vh;
    margin-left:18vw;
    margin-bottom: 5vh;
}
.objecto
{
    width: 20%;
    float:left;
    margin-left:4%;
    height:57%;
    text-align: center;
}
#pesiota
{
    height: 100%;
    width: 100%;
}
#objectos h1
{
    font-size: 5vh;
    margin-left:4%;
}
.arrow
{
    color: #C4B976;
}