#Picture
{
    background-image:url("pokój1os.png");
}
#roomWindow
{
    border: 1px solid black;
    width: 75%;
    height: 350px;
}
#picture
{
    float: left;
    width: 25%;
}
#parameters
{
    float: left;
    width: 25%;
    font-size: 15px;
}
#frm
{
    float: left;
    width: 25%;
}