#Picture
{
background-image:url("pokój1os.png");
}
#Parameters url 
{

}
#bed
{
background-image: url("bedIcon.png");
}
#airCon
{
background-image: url("airConditioningIcon.png");
}
#wiFi
{
background-image: url("WiFiIcon.png");
}