.main-container {
  width: 60%;
  height: 700px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}