#restaurantImg
{
    width: 100%;
    height: 22vw;
    background-image: url('./restaurantImg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    text-align:right;
    color: aliceblue;
}
#pesiota
{
    background-image: url('./pesiota.jpg');
    width: 100px;
    height: 100px;
    background-size: 100%;
}