nav
{
    background-color: #FFFFFE;
    width: 100%;
    height: 16%;
    overflow: hidden;
    
    
}
nav ul
{
    background-color: #FFFFFE;
    overflow: hidden;
    margin-right: 100px;
    
}
nav li
{
    float: right;
    list-style-type: none;
    margin-right: 4%;

}
nav li p
{
    display: block;
    padding:10px;
    font-size: 130%;
    font-weight:500;
<<<<<<< HEAD:src/components/navigation_bar/Navigation_bar.css
    
=======
    text-decoration: none;
>>>>>>> f28950323d1e692bfb97aaf857c2d9a8bafb00eb:src/components/const/navigationBar/NavigationBar.css
}
#logo
{
    float: left;
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    background-size: 30%;
    height: 100%;
    width: 23%;
    margin: 5px;
<<<<<<< HEAD:src/components/navigation_bar/Navigation_bar.css
=======
}
Link:hover
{
    text-decoration: none;
>>>>>>> f28950323d1e692bfb97aaf857c2d9a8bafb00eb:src/components/const/navigationBar/NavigationBar.css
}