#welcomeInformation
{
    background: #FFFFFE;
    text-align: center;
    margin: auto;
    width: 50%;
    min-height: 20vh;
    border-style:groove;
    border-radius:10px;
    font-family: 'Oxygen';
    font-weight: 400;
    padding: 2%;
    margin-top: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
}
#WelcomeTab
{
    min-height: 100%;
    background-color: white;
    background-image: url(/src/components/background/background.png);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: 80%;
    background-attachment: fixed;
    
    
    
}
