#cls
{
    clear: both;
}
#salatryImg{
    width: 100%;
    height: 22vw;
    background-image: url('./salatryImg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    text-align:right;
}
#salatryTab
{
    min-height:1050px;
    background-color: white;
    background-image: url(/src/components/background/background.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 80%;
    background-attachment: fixed;
    text-align: center;
    font-size: 30px;
    font-family: 'Oxygen';
    font-style: normal;
    padding-bottom: 30px;
}
.button2
{
    color:white;
    background-color: #C4B976;
    border: #C4B976;
    border-radius: 5px;
    padding-left:1%;
    padding-right: 1%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    font-family: Roboto;
    margin-right:1%;
    float:right;
}
#header
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 700;
    font-size:5vw;
    color: white;
    float: right;
    padding-right: 18vw;
    padding-top:9vw;
    width: 10%;
    height: 10%;

}
#reserv
{
    text-align: right;
}
#placeholder
{
    float:left;
    min-height: 200px;
    min-width: 400px;
    border-radius: 5px;
    margin-bottom: 50px;
}
.reserv_thng
{
    float:right;
    margin-right:2%;
}
.pokoj
{
    margin-right: 20%;
}